# Exclude config files
.prettierrc.json
eslint.config.mjs
package-lock.json
tsconfig.json
tsup.config.ts

# Git-related files
.gitignore

# Exclude node_modules (not necessary, npm ignores this by default)
node_modules/

# Build artifacts (if you're compiling code)
dist/
build/

# Exclude source maps or test files (if applicable)
*.map
tests/
